<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eli.poke" version="2.25" xmlns="http://www.w3.org/ns/widgets">
 <plugin name="cordova-plugin-fullscreen" />
 <preference name="Fullscreen" value="true" />
 <preference name="DisallowOverscroll" value="true" />
 <preference name="StatusBarOverlaysWebView" value="true" />
 <preference name="KeepRunning" value="true" />
 <preference name="KeepRunning" value="true"/>
 <plugin name="cordova-plugin-background-app" spec="^2.0.0" />
 <name>pokemon</name>
 <icon src="" />


</widget>
